<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>My website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="=/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/slider.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "https://malsup.github.io/jquery.blockUI.js"> </script>




</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <%- include('sections/navbar') %>
    <%- include('sections/hero') %>
    <%- include('sections/about') %>
    <%- include('sections/team') %>
    <%- include('sections/form') %>
    <%- include('sections/footer') %>



                        <!-- ========================= scroll-top ========================= -->
                        <a href="#" class="scroll-top">
                            <i class="lni lni-chevron-up"></i>
                        </a>

                        <!-- ========================= JS here ========================= -->
                        <script src="/js/bootstrap.min.js"></script>
                        <script src="/js/wow.min.js"></script>
                        <script src="/js/tiny-slider.js"></script>
                        <script src="/js/glightbox.min.js"></script>
                        <script src="/js/count-up.min.js"></script>
                        <script src="/js/main.js"></script>
                        <script src="/js/slider.js"></script>

                        <script type="text/javascript">
                            //====== counter up 
                            var cu = new counterUp({
                                start: 0,
                                duration: 2000,
                                intvalues: true,
                                interval: 100,
                                append: " ",
                            });
                            cu.start();
                        </script>
</body>

</html>